* {
  margin: 0px;
  padding: 0px;
}

/* .bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
} */

body {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


.mt-n1 {
  margin-top: -0.25rem !important;
}

#time{
    margin-top: 18rem !important;
    position: absolute;
    z-index: -1;
    margin:0 480px;
}
